* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

#h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0b5ed7;
    margin-bottom: 30px;
}

#ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0b5ed7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
}

#ul li a:hover {
    background-color: #0a4db0;
    transform: translateY(-2px);
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #0b5ed7;
    border-radius: 12px;
    background-color: #111;
    box-shadow: 0 0 15px rgba(11, 94, 215, 0.5);
}

.container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0b5ed7;
    margin-bottom: 30px;
}

.container h3 {
    font-size: 1.9rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #0b5ed7;
}

.container input[type="file"] {
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #0b5ed7;
    background-color: #111;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.container input[type="file"]:hover {
    border-color: #063792;
}

.container button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: #0b5ed7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.container button:hover {
    background-color: #0a4db0;
    transform: translateY(-3px);
}
#ocrText, #summary {
    width: 100%;
    max-width: 651px;
    background-color: rgba(8, 6, 6, 0.418);
    border: 1px solid #0b5ed7;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto 0;
    text-align: left;
    font-size: 14px;
    color: white;
    white-space: pre-line;
    overflow-x: auto;
}

@media (max-width: 480px) {
    .container h2 {
        font-size: 1.5rem;
    }

    .container input[type="file"],
    .container button,
    #ocrText,
    #summary {
        width: 90%;
    }

    .container button {
        padding: 10px 0;
        font-size: 14px;
    }
}